

.container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    padding: 25px;
    text-align: center;
    padding-bottom: 50px;
    margin-right: 50px;
    
    
}



.container img {
    width: 150px;
}

a:Link{
    text-decoration: none;
   }


