.container{
    margin-bottom: 50px;
}
.cardContainer img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
}

.cardContainer button{
    border-radius: 5px;
    border: 2px solid purple;
    background: pink;
}




