nav{
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

nav .menu {
display: flex;
justify-content: space-around;    
font-family: 'Bebas Neue', cursive;
font-size: 1rem;

}

nav .menu a{
    color: white;
    text-decoration: none;
}

.logo img{
    width: 200px;
}

.cart{
    display: flex;
    justify-content: center;
}